/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2017, 9:51:47 AM
    Author     : See Rong, Steven
*/

html,
body
{
    font-family: Arial;
    font-size: 16px;
}

h1
{
    font-weight: normal;
}

input[type=text],
input[type=number],
input[type=button],
select, 
textarea
{ 
    width: 100%; 
    box-sizing: border-box; /* to prevent it from overflowing out of the table */
    font-family: Arial;
    font-size: 14px;
    color:#888992; /* lighter grey */
}

input[type=button]
{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    margin-right: 0.333em;
    padding: 0.5em 1em;
    border: 1px solid #999;
    border-radius: 2px;
    cursor: pointer;
    font-size: 0.88em;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    background-color: #e9e9e9;
    background-image: -webkit-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#e9e9e9');
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    outline: none;
}

input::placeholder
{
    opacity: 0.5;
}

.dataTables_length select
{
    width:auto;
}

.ui-dialog-content 
{ 
    overflow: visible !important; 
}

.ui-autocomplete 
{
    max-height: 30%;
    overflow-y: auto;
    /*prevent horizontal scrollbar*/ 
    overflow-x: hidden;

    border: 1px solid #aaa;
    border-top: 0;
    background: #fff;
    box-shadow: 0 4px 5px rgba(0,0,0,.15);
}

.ui-widget-content a:not(.dt-button):not(.ui-tabs-anchor):not(.ui-state-default):not(.chosen-single)
{
    color: -webkit-link;
}

.formImageIconSize
{
    width:20px;
    height:20px;
    cursor:pointer;
}

.formTableCellFormat
{
    width:22.5%;
}

.formTableMiddleCellFormat
{
    width:10%;
}

.formTableForLogoAndTable
{
    border-style: solid;
    border-width: 0px;
    width: 100%;
    border-collapse: collapse;
    margin: 0px auto;
}

.formLogoTableCell
{
    column-span: all;
    text-align: left;
    width: 50%;
}

.formLogoImage
{

}

.formTitleTableCell
{
    text-align: right;
    width: 50%;
    border-right-color: white;
    padding-right: 15px;
    color: #16b0e5; /* light blue */
}

.formTitleTableCell h1
{
    font-weight:bold;
}

.formTable
{
    border-style: none;
    border-width: 0px;
    width: 100%; 
    border-collapse: separate;
    margin: 0px auto; /* to center the table */
    border-spacing: 0px 10px;
}

.formTableHeader
{
    text-align: center; 
    background-color: #16b0e5; /* - light blue */
    font-weight: bold;
    color:white;
}

.formTableHeader1
{
    background-color: white;

}

.formFieldText
{
    color: #888992;  /* - lighter grey */
    font-weight: bold;
    border-style: none;
    border-width: 0px;
    border-color: #888992; /* lighter grey */
    font-size: 14px;
}

.formFieldInput
{
    color:#888992; /* lighter grey */
    border-style: solid;
    border-width: 1px; 
    font-size: 14px;
    padding: 5px;
}

.formFieldInputBorderless
{
    border-style: none;
    border-width: 0px;
}

.formTableCellInformation
{
    font-weight: normal;
}

.formFieldTextRequired:after
{
    color: red;
    content:" *"; 
}

.formFieldNumberFormat
{
    text-align:right;
    float:right;
}

table.dataTable
{
    border-collapse: collapse;
}

input[type=button].btnFilter
{
    background:#009bdf;
    border-color: #009bdf;
    color: white;
    margin-right: 5px;
    width: 200px;
    float : right;
}

input[type=button].btnViewWebService
{
    background:#009bdf;
    border-color: #009bdf;
    color: white;
    margin-right: 1px;
    width: 270px;
    float : right;
    
}

input[type=button].btnFilterLog
{
    background:#009bdf;
    border-color: #009bdf;
    color: white;
    margin-left: 5px;
    width: 30%;
    float : left;
}

input[type=button].btnViewLatestRecords
{
    background:#009bdf;
    border-color: #009bdf;
    color: white;
    margin-right: 5px;
    width: 55%;
    float : left;
}

input[type=button].btn_view
{
    background:#009bdf;
    border-color: #009bdf;
    color: white;
    margin-right: 5px;
    width: 100px;
    float : right;
}

.formTable1
{
    border-style: none;
    border-width: 0px;
    width: 80%; 
    border-collapse: separate;
    border-spacing: 0px 5px;
    margin-left: 10px;
}

.buttonContainer{
    float: left;
    width:100%;
    
}

.formTable65Percent
{
    border-style: none;
    border-width: 0px;
    width: 65%; 
    border-collapse: separate;
    border-spacing: 0px 10px;
    margin-left: 5px;
}

.buttonContainerForSingleFilter
{
    width: 80%;
    float: left;
}

input[type=button].btnFilterForSingleFilter
{
    background:#009bdf;
    border-color: #009bdf;
    color: white;
    width: 100%;
    float : left;
    
}

.inputBorderless
{
    border: none;
    border-color: transparent;
}

/* mgr body color */
.mgrBodyBGColor {
    background-color: #f6f6f6;
}

/* mgr data table thead */
.mgrDataTableThead {
    background-color: #197b30;
    color: #ffffff;
    font-family: 'OpenSans-Bold';
}

/* mgr font open sans regular and color */
.txtStyleSanRegularMgr {
    font-family: 'OpenSans-Regular' !important;
    color: #666666 !important;
}

/* mgr font family text */
.mgrOpenSansTxt {
    font-family: 'OpenSans-Regular' !important;
}

/*mgr datatable css*/
.tableMGRStyle {
    overflow: hidden;  
    border-collapse:  separate !important;
    border-radius: 5px;
    border: 1px solid #b7b7b7;   
}

/* mgr table for not datatable use when wanna rounded the table */
/* plus using cellspacing on the table */
.tableMGRRounded {
    border-radius: 5px; 
    overflow:hidden;
}

/* mgr table rounded tbody td border bottom */
/*.tableMGRRounded tbody td {
    border-bottom: 1px solid #b7b7b7 !important;
}*/

/* thead sorting style border bottom and tbody each tr td */
th.sorting, th.sorting_asc
{
    border-bottom: inherit !important;
}

/* for label show entrie position next to the previous button */
div#dtContractMasterList_length label {
    display: none !important;
}

/* mgr body content font */
.mgrContentFont {
    font-family: 'OpenSans-Regular' !important;
}

/* no padding no margin */
.defaultPosition {
    margin: 0; 
    padding: 0;
}

/* body content default mgr using */
.defaultBodyContent {
    margin-top: 20px; 
    padding: 0 50px;
}

/* template div for mgr using */
.divFormMGR {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 30px;
}

/* default form div template width MGR */
.width25Percentage {
    width: 25%;
}

/* form input 20% column */
.width20Percentage {
    width: 20%;
}

/* form input 10% column */
.width10Percentage {
    width: 10%;
}

/* form input 5% column */
.width5Percentage {
    width: 5%;
}

/* form table line spacing default mgr */
.mgrFormBorderSpacing {
    border-spacing: 0 30px;
}

/* table 100% width */
.tblWdth100 {
    width: 100%;
}

/* mgr border radius */
.mgrBorderRadius {
    border-radius: 5px;
}

/* mgr td padding bottom */
.mgrTdPadBot {
    padding-bottom: 20px;
}

/*for padding top and bot 20px */
.mgrTdPadTopBot20 {
    padding: 20px 0;
}

/* use when div form using header structure */
.mgrTdPaddingTopTable {
    padding-top: 30px;
}

/*use on tbody td column seperate*/
.mgrTdPaddingTopTable5 {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

.mgrTdPaddingBotTable {
    padding-bottom: 30px;
}

/* mgr input type text */
input[type=text].mgrFormDesign,
input[type=search].mgrFormDesign,
input[type=number].mgrFormDesign,
input[type=password].mgrFormDesign,
textarea.mgrFormDesign
{
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #b7b7b7;
    height: 30px;
    font-family: 'OpenSans-Regular' !important;
    color: #666666 !important; 
    padding-left: 10px;
    padding-right: 10px;
}

/* mgr form input when focus */
input[type=text].mgrFormDesign:focus,
input[type=search].mgrFormDesign:focus,
input[type=number].mgrFormDesign:focus,
textarea.mgrFormDesign:focus
{
    outline: none;
    border: 1px solid #197b30;
}

/* chosen set height, span, dropdown icon mgr */
a.chosen-single {
    height: 30px !important;
}

a.chosen-single > span {
    margin-top: 3px;
}

a.chosen-single > div > b {
    margin-top: 3px;
}


/* for chosen drop down when active */
.chosen-container-active .chosen-single {
    border: 1px solid #197b30;
}

/* for dropdown chosen li(option dropdown) hover */
li.highlighted {
    background-image:linear-gradient(#197b30 20%,#197b30 90%) !important;
}

/* border shape for body outline, form input outline mgr used*/
.bodyAndFormBorderMGR {
    border: 1px solid #b7b7b7 !important;
}

/* table border bottom used for white 
always used on table thead(not datatable)
*/
.bdrBtmWhiteMgr {
    border-bottom: 1px solid #ffffff;
}

/* body background mgr */
.bodyBackground {
    background-color: #f6f6f6;
}

/* form text color */
.txtColorMGR {
    color: #666666;
}

/* line spacing using margin bottom 20 for every div mgr */
.mgrSpace20 {
    margin-bottom: 20px;
}

/* line spacing using margin bottom 40 for every div mgr */
.mgrSpace40 {
    margin-bottom: 40px;
}

/* line spacing using margin bottom 50 for every div mgr */
.mgrSpace50 {
    margin-bottom: 50px;
}

/* line spacing using margin bottom 100 for every div mgr */
.mgrSpace100 {
    margin-bottom: 100px;
}

.mgrSpace150 {
    margin-bottom: 150px;
}

/* table mgr text align left for th */
.mgrTxtAlignLeft {
    text-align: left;
}
.mgrTxtAlignCenter {
    text-align: center;
}

/* padding left on cell table mgr used 20 */
.mgrPaddingLeft20 {
    padding-left: 20px;
}

/* padding left on cell table mgr used 30 */
.mgrPaddingLeft30 {
    padding-left: 30px;
}

/* padding right on cell table mgr used 20 */
.mgrPaddingRight20 {
    padding-right: 20px;
}

/* padding right on cell table mgr used 30 */
.mgrPaddingRight30 {
    padding-right: 30px;
}


/* img that used on thead mgr */
.logoTheadTableMgr {
    width: 20px;
    vertical-align: middle;
    cursor: pointer;
}

/* img that used on tbody mgr */
.logoTbodyTableMgr {
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
}

/* thead row 2 descriptio name per column */
.mgrThead2FontSize {
    font-size: 12px;
}

/* txt position center */
.txtAlignCenter {
    text-align: center;
}

/* floating to the right */
.mgrFloatRight {
    float: right;
}

/* floating to the left */
.mgrFloatLeft {
    float: left;
}

/* used text are inside table tr td prev cell need to be 3(tr td after this row to be work)*/
/* td using this text area need to be rowspan 4*/
.mgrTextAreaOnTable {
    width: 100%;
    height: 126px !important;
}

/* current button spacing using 5px on mgr */
.mgrButtonSpacing {
    margin-left: 5px;
}

/* form input spacing mgr td(5px) */
.mgrfrmInputSpc {
    width: 5%;
}

/* mgr radio design class to be used */
/*
1 set radio properties 
2 set label with the radio line vertical
3 set radio design
4 set when radio checked
*! note use radio input with class naming mgrRadioButton
*/
input[type=radio].mgrRadioButton:not(old) {
    width: 2em;
    margin: 0;
    font-size: 1em;
    opacity: 0;
}

input[type=radio].mgrRadioButton:not(old) + label {
    display : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
}

input[type=radio].mgrRadioButton:not(old) + label > span {
    display : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid #b7b7b7;
    border-radius    : 1em;
    background       : #ffffff;
    vertical-align   : bottom;
}

input[type=radio].mgrRadioButton:not(old):checked + label > span {
    border: 0.0625em solid #197b30;
}

input[type=radio].mgrRadioButton:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid #197b30;
  border-radius    : 1em;
  background       : #197b30;
}

/* mgr auto complete styling */
/* border of autocomplete ul*/
ul.ui-widget.ui-widget-content {
    border: 1px solid #197b30;    
}
/* a tag list font*/
.ui-widget-content a{
    color: #333333 !important;
    font-family: 'OpenSans-Regular';
}
/*ui menu autocomplete*/
.ui-menu {
    list-style:none;
    padding-bottom: 0;
    margin: 0;
    display:block;
    /*width:227px;*/
}
/* ui menu item*/
.ui-menu .ui-menu-item {
    margin:0;
    padding: 0;
    width: 100%;
}

.ui-menu .ui-menu-item a {
    text-decoration:none;
    display:block;
    padding: 0;
    line-height:1.5;
    zoom:1;
}

.ui-menu .ui-menu-item a.ui-state-hover,
    .ui-menu .ui-menu-item a.ui-state-active {
    margin: -1px;
}

/* date picker active button color */
.ui-state-active, .ui-widget-content .ui-state-active {
    border: #197b30;
    background: #197b30;
    color: #ffffff !important;
}

/* this for character remaining on mgr project styling */
small i span {
    font-family: 'OpenSans-Regular' !important;
    color: #197b30 !important;
}

span.mandatory {
    color: red;
}

/* check box mgr styling */
/* The container */
.checkBoxMgrContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'OpenSans-Regular';
  color: #666666;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxMgrContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkMgr {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkBoxMgrContainer:hover input ~ .checkmarkMgr {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxMgrContainer input:checked ~ .checkmarkMgr {
  background-color: #197b30;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkMgr:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxMgrContainer input:checked ~ .checkmarkMgr:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxMgrContainer .checkmarkMgr:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* datatable tbody row hover */
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
    background-color: #c2dd90;
    cursor: pointer;
}

/** drop down mgr style css **/
select.ddlMgr {
    border-radius: 5px;
    outline: none;
    border: 1px solid #b7b7b7;  
    font-family: 'OpenSans-Regular';
    color: #666666;
    height: 30px;
}

select.ddlMgr:focus {
    border: 1px solid #197b30;
}

select.ddlMgr option {
    font-family: 'OpenSans-Regular';
    color: #666666;
    outline: none;
    border: 1px solid #b7b7b7;  
}

/* data table each row border bottom */
.dataTable tbody tr td {
    border-bottom: 1px solid #b7b7b7;
}

.dataTable tbody tr:last-child td {
    border-bottom: none;
}

/** use for amount text- align right **/
input.mgrAmountAlign {
    text-align: right;
}

/** button mgr commonly use for filter **/
.btnMGRStyle {
    background: #ffffff !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px !important;
    color: #197b30 !important;
    border: 1px solid #197b30 !important;
    width: 80px;
    height: 35px;
}

/* when button hover or active the color change */
.btnMGRStyle:hover, .btnMGRStyle:active {
    background: #197b30 !important;
    color: #ffffff !important;
    border: 1px solid #ffffff !important;
}

/* white background */
.bgWhite {
    background-color: #ffffff;
}

/* for hover effect button MGR add an item one */
.MGRIconButton{
    -webkit-transition: -webkit-transform .5s ease-in-out;
          transition: transform .5s ease-in-out;
}

.MGRIconButton:hover{
    -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}