/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Aug, 2019, 2:56:11 PM
    Author     : Wildan
*/

.paddingTopBottom{
    padding-bottom: 20px;
    padding-top: 20px;
}

.paddingBottom{
    padding-bottom: 20px;
}


.paddingTop{
    padding-top: 20px;
}

.update{
    background-image: none !important;
    width: 100px !important; 
    margin-top: -20px !important; 
    background-color: #197b30 !important; 
    color: white !important; 
    border-radius: 5px !important;
}

.inputNo{
    background-color: #f6f6f6;
    outline:none;
    width: 10px !important;
}

.paddingRight{
    padding-right: 10px;
}

.filters{
    background-image: none !important;
    width: 100px !important; 
    background-color: #197b30 !important; 
    color: white !important; 
    border-radius: 5px !important;
}

/* button button to border radius */
a.dt-button, a.paginate_button {
    border-radius: 5px !important;
}

/* div filter to the bottom same with button library datatables */
div.dataTables_filter, div.dataTables_length {
    margin-top: 5px;
}

/* set relative to the top of the container*/
div#dt_searchAndButtonContainer_dtServiceSchedule {
    position: relative;
    left: 5px;
    bottom: 55px;
}

/*for text search, button library, show entries change into sans on font and color #666666 */
div.dataTables_filter label,
div.dt-buttons a.dt-button,
div.dataTables_length label,
div.dataTables_info,
a.paginate_button,
td.dataTables_empty,
#dtServiceSchedule tbody td
{
    font-family: 'OpenSans-Regular';
    color: #666666 !important;
}

/* for input type outline color green when focus */
div#dt_searchAndButtonContainer_dtServiceSchedule div#dtServiceSchedule_filter label input:focus
{
    outline-color: #197b30 !important;
}

/* set border bottom for thead and tbody to be #b7b7b7 */
#dtServiceSchedule thead tr,
table.dataTable.no-footer
{
    border-bottom: 1px solid #b7b7b7 !important;
} 

/*set input filter datatable to no margin top */
div.dataTables_filter {
    margin-top: 3.5px;
}

/** for datatables search button **/
input[type="search"]:focus { 
    overflow: hidden;
    border: 1px solid #b7b7b7;
    height: 30px;
    font-family: 'OpenSans-Regular' !important;
    color: #666666 !important;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px !important;
    outline: none;
    border-color: #197b30 !important;
}

input[type="search"] { 
    overflow: hidden;
    border: 1px solid #b7b7b7;
    height: 30px;
    font-family: 'OpenSans-Regular' !important;
    color: #666666 !important;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px !important;
    outline: none;
}
