/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Aug, 2019, 8:34:55 AM
    Author     : Wildan
*/

.paddingTopBottom{
    padding-bottom: 20px;
    padding-top: 20px;
}

.paddingBottom{
    padding-bottom: 20px;
}


.paddingTop{
    padding-top: 20px;
}

.paddingTop1{
    padding-top: 5px !important;
}

.update{
    background-image: none !important;
    width: 100px !important; 
    margin-top: -20px !important; 
    background-color: #197b30 !important; 
    color: white !important; 
    border-radius: 5px !important;
}

.inputNo{
    border:none !important;
}

.formTitleTableCell{
    width: auto;    
}


.underline{
    border-bottom: 1px solid #b7b7b7 !important;
}

.underlinethin{
    border-bottom: 1px solid #b7b7b7 !important;
}

.partUsedTdStart{
     border-bottom: 1px solid #b7b7b7 !important;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 10px;
}

.partUsedTdLast{
     border-bottom: 1px solid #b7b7b7 !important;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 10px;
     padding-right: 20px;
}

.meterStart{
     border-bottom: 1px solid #b7b7b7 !important;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 20px;
}

.meterEnd{
     border-bottom: 1px solid #b7b7b7 !important;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
}
.textLeft{
    text-align: left;
}

.checkBoxMgrContainer input ~ .checkmarkMgr{
    background-color: white;
    border: 1px solid #b7b7b7 !important;
    border-radius: 5px;
}

.bodyAndFormBorderMGR{
    background-color: white;
}

.dropdown{
    height: 30px;
    border-radius: 5px;
    outline-color: transparent;
}

option:hover,
    select option:focus,
    select option:active {
  background: #197b30 !important;
}

td [colspan="3"]{
    height: 5px !important;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
/* Floating column for inputs: 50% width */
.col-50{
    float: left;
    width : 50%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* scroll*/
.div1 {
  display: table;
  table-layout: fixed;
  width: 100%;
}

/* Clear floats after the columns */
tr:after {
  content: "";
  display: table;
  clear: both;
}

/* body content */
.defaultBody {
    margin-top: 15px; 
    padding: 0 20px;
}

.div2 {
  display: table-cell;
  overflow-x: auto;
  width: 100%;
  border-radius: 5px
}

/* Responsive layout - when the screen is less than 500px wide, make the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 500px) and (orientation: portrait) {
  tr, th, thead, tbody, td, .col-25, .col-100, .col-75, input[type=button] {
    width: 100%;
    margin-top: 0;
  }
} 
@media only screen and (max-width: 500px) and (orientation: landscape) {
  tr, th, thead, tbody, td, .col-25, .col-100, .col-75, input[type=button] {
    width: 100%;
    margin-top: 0;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}