/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 Jun, 2019, 12:37:47 PM
    Author     : Wildan
*/

/* btn qr code list style */
#btnQRCodeList {
    background: #ffffff !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px !important;
    color: #666666 !important;
    border: 1px solid #b7b7b7 !important;
    width: 120px;
    height: 35px;
}
