/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Dec, 2019, 10:02:27 AM
    Author     : Wildan
*/
#btnSave {
    background: #ffffff !important;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px !important;
    color: #666666 !important;
    border: 1px solid #b7b7b7 !important;
    width: 80px;
    height: 35px;
}

#btnAdjust {
    background: #197b30 !important;
    border: 1px solid #197b30;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px !important;
    color: #fff !important;
    width: 80px;
    height: 35px;
    margin-bottom: 40px;
}

#removeGarbage {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

#removeGarbage:hover {
    color: red;
}
.formFieldTextRequired:after
{
    color: red;
    content:" *"; 
}
